@import "/src/App.scss";

.RestaurantMorePage {
  min-height: $content-min-height;
  margin: 0 45vh 0;
  text-align: center;

  .rest-type-text {
    text-align: left;
    color: #1890ff;
    margin-left: 23px;
  }
}