// 공통 변수


.MainPage {
	.ant-layout-header {
		height: 70px;
	}
	background-color: white !important;
	background: white;

	.logo {
		float: left;
		width: 120px;
		height: 31px;
		color: white;
		font-weight: bold;
		font-size: 20px;

		// img {
		// 	display: inline-block;
		// 	vertical-align: middle;
		// 	margin-top: 10px;
		// 	width: 40px;
		// 	height: 40px;
		// }

		.main-title {
			display: inline-block;
			position: absolute;
			margin-left: 8px;
			color: white;
			font-size: 25px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.main-title:hover {
			color: #f4e700 !important;
		}
	}

	.menu {
		color: white;
		font-size: 20px;
		text-align: right;
	}

	.profileDropdown {
		color: white;

		.dropdown-username {
			margin-left: 10px;
			margin-right: 10px;
			font-size: 20px;
		}
	}

	.search-input {
		display: inline-block;
		vertical-align: middle;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	.ant-layout-footer {
		height: 70px;
	}

}
