.slick-slider.slick-initialized {
  margin: 0 30px 0;
}
.ant-carousel.slick-slider {
  .slick-next {
    &:before {
      content: '';
    }
  }
  .slick-prev {
    &:before {
      content: '';
    }
  }
}
.hp-carousel .carousel-div {
  text-align: center;
  height: 300px;
  line-height: 300px;
  overflow: hidden;
  padding: 10px;
}