.ReviewEditModal {
  .ant-radio-button-wrapper {
    border-left: none;
    border: none; 
  }
  .ant-radio-button-wrapper:first-child {
    border-left: none;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: #ffff;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: none;
  }
  .ant-radio-button-wrapper-checked {
    color: #ffff;
    border: none;
    border-color: #ffff;
    background-color: #ffff;
    ::before {
      transition: none;
    }
  }
}